body{ 
  background-color: rgba(20, 205, 238, 0.7);
  background-image: url();
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment:fixed ;

}
h1{
  color:rgba(9, 84, 155, 0.849);
  background-color: rgba(216, 73, 216, 0.31);
  font-style: italic;
}
h2{
font-style: italic;
font-weight: bold;
color: rgb(139, 8, 67); 
background-color:rgba(27, 110, 105, 0.3)
}
p{
 color: rgba(117, 248, 10, 0.932);  
 background-color:rgba(13, 105, 198, 0.312)
}
a:link{
  text-decoration: none;
}
a:hover{
  color: red;
}
